## Write a pipeline for the file metadata movie

### step 1 : 
    dowload raw data file from 'https://raw.githubusercontent.com/RiccardoRubini93/Academy/main/movie_metadata_raw.csv' and save it in a folder call Raw/day=date/
    
### step 2:
    load raw data file in pandas dataframe perform data exploration and cleaning and save into 
    Clean/day=date with name movie_metadata_clean.csv

### step 3:
    load clead data perform aggregation and save into 
    layer_2/day=date with name movie_metadata_aggergated.csv

step 1): 
raw/day=today_date(2023-04-20)/movie_metadata_raw.csv

In [1]:
import os 
import requests
import pandas as pd 
from datetime import date

In [17]:
def download(url,dest_folder):
    
    if not os.path.exists(dest_folder):
        os.makedirs(dest_folder)
    
    file_name = url.split('/')[-1]
    file_path = os.path.join(dest_folder,file_name)
    
    r = requests.get(url)
    
    if r.ok:
        print(f'Saving file to {file_path}')
        with open(file_path,'wb') as f:
            f.write(r.content)
        f.close()
        
    else: print(f'Failed with code : {r.status_code}')

In [18]:
today = date.today().strftime('%Y-%m-%d')
dest_folder = f'raw/day={today}'
url = 'https://raw.githubusercontent.com/RiccardoRubini93/Academy/main/movie_metadata_raw.csv'

download(url,dest_folder)

Saving file to raw/day=2023-04-20\movie_metadata_raw.csv

### import files in pandas DF

In [21]:
file_name = 'movie_metadata_raw.csv'
file_path_raw = f'{dest_folder}/{file_name}'
print(file_path_raw)

raw/day=2023-04-20/movie_metadata_raw.csv

In [22]:
df = pd.read_csv(file_path_raw)

In [25]:
df.shape

(5043, 28)

In [26]:
df.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [27]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [29]:
df.isna().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [30]:
cols = ['director_name','movie_title','gross']
df[cols]

,director_name,movie_title,gross
0,James Cameron,Avatar,760505847.0
1,Gore Verbinski,Pirates of the Caribbean: At World's End,309404152.0
2,Sam Mendes,Spectre,200074175.0
3,Christopher Nolan,The Dark Knight Rises,448130642.0
4,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,NaN
...,...,...,...
5038,Scott Smith,Signed Sealed Delivered,NaN
5039,NaN,The Following,NaN
5040,Benjamin Roberds,A Plague So Pleasant,NaN
5041,Daniel Hsia,Shanghai Calling,10443.0
5042,Jon Gunn,My Date with Drew,85222.0

In [36]:
df.iloc[1] == df[1:2]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [38]:
df[df['gross']>1000]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5034,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [41]:
df[df['director_name'].notna()]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [48]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### Ordinare df in base al gross revenue e al budget in ordine discendente
una volta generato df_sorted mostrare le prime 10 righe solo per director_name,gross,budget

In [51]:
df_sorted = df.sort_values(by = 'gross',ascending=False)
df_sorted[['title_year','director_name','gross']].head(10)

      title_year      director_name        gross
0         2009.0      James Cameron  760505847.0
26        1997.0      James Cameron  658672302.0
29        2015.0    Colin Trevorrow  652177271.0
794       2012.0        Joss Whedon  623279547.0
17        2012.0        Joss Whedon  623279547.0
66        2008.0  Christopher Nolan  533316061.0
240       1999.0       George Lucas  474544677.0
3024      1977.0       George Lucas  460935665.0
8         2015.0        Joss Whedon  458991599.0
3         2012.0  Christopher Nolan  448130642.0

In [59]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### Cleaning step

 - step 1): eliminare i null dal dataframe
 - step 2):formattare il movie_title "encode().decode('unicode_escape').encode('ascii','ignore')"
 - step 3): scalare il gross in milioni 1e6

In [61]:
df = df.fillna(0)

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

In [64]:
df['gross']

0       760505847.0
1       309404152.0
2       200074175.0
3       448130642.0
4               0.0
           ...
5038            0.0
5039            0.0
5040            0.0
5041        10443.0
5042        85222.0
Name: gross, Length: 5043, dtype: float64

In [63]:
df['movie_title'] = df['movie_title'].apply(lambda x:x.encode().decode('unicode_escape').encode('ascii','ignore'))

In [71]:
df['gross_in_M'] = df['gross'].apply(lambda x:round(x/1e6))

In [73]:
df_clean = df

In [76]:
today

'2023-04-20'

### Step 2 : 
 - write a function that saves the new cleaned df (df_clean) in 
   clean/day={today}/movie_metadata_clean.csv
   NB: ricordatevi di prendere in nome dall'url
   applica al df il metodo to_csv

In [86]:
url

'https://raw.githubusercontent.com/RiccardoRubini93/Academy/main/movie_metadata_raw.csv'

In [82]:
clean_path = f'clean/day={today}'
file_name = url.split('/')[-1].replace('raw','clean')

#controllare se la cartella esiste se non esiste crearne una 

if not os.path.exists(clean_path):
    os.makedirs(clean_path)

In [85]:
output_object = os.path.join(clean_path,file_name)

df_clean.to_csv(output_object)

In [ ]:
#task 

def save_df_to_clean(arg1,arg2):
    #
    #
    #
    #
    return True

### STEP 3 

- caricare il file dal layer clean
- performare aggregazione
- salvare in un layer user_consumption

In [89]:
dfc = pd.read_csv(f'clean/day={today}/movie_metadata_clean.csv')

In [92]:
dfc.columns

Index(['Unnamed: 0', 'color', 'director_name', 'num_critic_for_reviews',
       'duration', 'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster',
       'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language',
       'country', 'content_rating', 'budget', 'title_year',
       'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio',
       'movie_facebook_likes', 'gross_in_M'],
      dtype='object')

In [93]:
# calcolare la media di facebook likes per anno

like_per_year = dfc.groupby(['title_year'])['movie_facebook_likes'].mean()

### Ex: generare il seguente report

- step 1) : aggiungere una colonna a dfc con il nome 'profit' = 'gross'-'budget'
- step 2) : calcolare la media dei seguenti campi: 'gross','budget','profit' raggrupando la tabella secondo 'title_year' e 'director name'
- step 3) filtrare per title_year !=0 e ordinare per profit decrescente

### sql query corrispondente 
    tabella : dfc
    
    select title_year,director_name, mean(gross),mean(budget),mean(profit) from dfc
    where title_year <> 0
            group by title_year,director_name
            order by profit desc

In [103]:
dfc = dfc.where(dfc.title_year != 0).groupby(["title_year","director_name"])[['gross','budget']].mean().sort_values(["title_year"],ascending=False)

### STEP 3:

- salvare il df generato dalla query in consumption_layer/day={today}/report_per_year.csv

In [104]:
dfc

                                    gross       budget
title_year director_name
2016.0     Zack Ward                  0.0          0.0
           David Ayer         161087183.0  175000000.0
           David Lowery               0.0   65000000.0
           David Yates        124051759.0  180000000.0
           Dexter Fletcher     15785632.0   23000000.0
...                                   ...          ...
1929.0     Harry Beaumont       2808000.0     379000.0
1927.0     Fritz Lang             26435.0    6000000.0
1925.0     King Vidor                 0.0     245000.0
1920.0     Harry F. Millarde    3000000.0     100000.0
1916.0     D.W. Griffith              0.0     385907.0

[4739 rows x 2 columns]